In [1]:
# write a program to print the given number is Odd or Even.
num=int(input("Enter a Number:"))
if(num%2==0):
    print("The given num is Even")
else:
    print("The given num is Odd")

Enter a Number:5
The given num is Odd

In [2]:
#write a program to find the given number is Positive or Negative
num=int(input("Enter a Number"))
if(num<0):
    print("Number is Negative")
else:
    print("Number is Positive")

Enter a Number-2
Number is Negative

In [3]:
#write a program to check if the given number is palindrome or not.
num = int(input("Enter a Number:"))
temp = num
reverse = 0
while temp>0:
    remainder=temp%10
    reverse=(reverse * 10) + remainder
    temp = temp //10
if num == reverse:
    print("Number is palindrome")
else:
    print("Number is not palindrome")

Enter a Number:454
Number is palindrome

In [4]:
#write a program to find the sum of two number
num1=int(input("Enter a Number"))
num2=int(input('Enter a Number'))
sum=num1+num2
print(sum)

Enter a Number5
Enter a Number4
9

In [5]:
#write a program to find if the given number is prime or not.
num=int(input("Enter a Number:"))
flag=False
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            flag=True
            break
if flag:
    print("Number is not prime")
else:
    print("Number is prime")

Enter a Number:5
Number is prime

In [6]:
#write a program to find a maximum of two numbers.
num1=int(input("Enter a Number"))
num2=int(input("Enter a Number"))
if (num1>num2):
    print(num1,"is max then",num2)
else:
    print(num2,"is max then",num1)

Enter a Number5
Enter a Number7
7 is max then 5

In [7]:
#write a program to find a minimum of two numbers.
num1=int(input("Enter a Number"))
num2=int(input("Enter a Number"))
if(num1<num2):
    print(num1,"is min then",num2)
else:
    print(num2,"is min then",num1)

Enter a Number7
Enter a Number12
7 is min then 12

In [8]:
#write a program to find a maximum of three numbers.
num1=int(input("Enter a Number"))
num2=int(input("Enter a Number"))
num3=int(input("Enter a Number"))
if(num1>num2 and num1>num3):
    print(num1,"is max then",num2,"and",num3)
elif(num2>num1 and num2>num3):
    print(num2,"is max then",num1,"and",num3)
elif(num3>num1 and num3>num2):
    print(num3,"is max then",num1,"and",num2)
else:
    print("No choice")

Enter a Number5
Enter a Number7
Enter a Number6
7 is max then 5 and 6

In [9]:
#write a program to find a minimum of three numbers.
num1=int(input("Enter a Number"))
num2=int(input("Enter a Number"))
num3=int(input("Enter a Number"))
if(num1<num2 and num1<num3):
    print(num1,"is min then",num2,"and",num3)
elif(num2<num1 and num2<num3):
    print(num2,"is min then",num1,"and",num3)
elif(num3<num1 and num3<num2):
    print(num3,"is min then",num1,"and",num2)
else:
    print("No Choice")

Enter a Number2
Enter a Number5
Enter a Number6
2 is min then 5 and 6

In [10]:
#write a program to find a factorial of a number
num=int(input("Enter a number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print("Factorial of",num,"is",fact)

Enter a number:6
Factorial of 6 is 720

In [11]:
#Star pattern
for x in range(1,6):
    for y in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
#Number pattern
for x in range(1,6):
    for y in range(1,6):
        print(x,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [13]:
#Number with increment pattern
for x in range(1,6):
    for y in range(1,6):
        print(y,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [14]:
#Reverse pattern
for x in range(5,0,-1):
    for y in range(5,0,-1):
        print(x,end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [15]:
#Number series pattern
n=5
k=1
for x in range(1,n+1):
    for y in range(1,n+1):
        print(format(k),end=" ")
        k+=1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [16]:
#Odd Number pattern
n=5
p=1
for x in range(1,n+1):
    for y in range(1,n+1):
        print(format(p),end=" ")
        p+=2
    print()

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [17]:
#Even Number pattern
n=5
p=2
for x in range(1,n+1):
    for y in range(1,n+1):
        print(format(p),end=" ")
        p+=2
    print()

2 4 6 8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [18]:
#add number serieswise pattern
for x in range(1,6):
    for y in range(1,4):
        print("{} {}".format(y,x),end=" ")
    print()

1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [19]:
#Sequence series
n=5
for x in range(1,n+1):
    p=x
    for y in range(1,n+1):
        print(format(p),end=" ")
        p+=n
    print()

1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [20]:
#reverse sequence pattern
n=5
for x in range(1,n+1):
    p=n-x+1
    for y in range(1,n+1):
        print(format(p),end=" ")
        p+=n
    print()

5 10 15 20 25
4 9 14 19 24
3 8 13 18 23
2 7 12 17 22
1 6 11 16 21

In [21]:
# 0 and 1 pattern
n=5
for x in range(1,n+1):
    for y in range(1,n+1):
        print(str((x+y)%2)+"",end=" ")
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [22]:
#Capital ABCDE pattern
for x in range(65,70):
    for y in range(1,6):
        print(chr(x),end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [23]:
#Captial ABCDE pattern
for x in 'ABCDE':
    for y in 'ABCDE':
        print(x,end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [24]:
#Star pattern
for x in range(1,6):
    for y in range(1,x+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [25]:
#Even triangle pattern
p=2
for x in range(5,0,-1):
    for y in range(6,x,-1):
        print(format(p),end=" ")
        p+=2
    print()

2
4 6
8 10 12
14 16 18 20
22 24 26 28 30

In [26]:
#sequence triangle pattern
p=1
for x in range(5,0,-1):
    for y in range(6,x,-1):
        print(format(p),end=" ")
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [27]:
#sequence of table
for x in range(1,6):
    for y in range(1,x+1):
        print(format(x*y),end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [28]:
#Fibonacci series pattern
n=5
n1=0
n2=1
r=n1+n2
for x in range(0,n):
    for y in range(0,x+1):
        print(str(r)+"",end=" ")
        r=n1+n2
        n1=n2
        n2=r
    print()

1
1 2
3 5 8
13 21 34 55
89 144 233 377 610

In [29]:
#A,B pattern
for x in range(65,70):
    for y in range(65,x+1):
        print(chr(x),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [30]:
#Reverse star pattern
for x in range(1,6):
    for y in range(6,x,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [31]:
#ABCD reverse pattern
decr=9
for x in range(4,0,-1):
    for y in range(x,5):
        print(" ",end=" ")
    for z in range(1,decr+1):
        print(chr(z+64),end=" ")
    decr-=2
    print()

  A B C D E F G H I
    A B C D E F G
      A B C D E
        A B C